@model WebAppEF.Models.ProductCategories

@{
    ViewData["Title"] = "Tambah Categori Produk";
}

<h2 class="my-4">Tambah Categori Baru</h2>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="Name" class="form-label">Nama Categori</label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Simpan</button>
    <a asp-action="Index" class="btn btn-secondary">Kembali</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
